Source: pgdoctor
Section: Databases
Priority: optional
Maintainer: Marco Almeida <mfa@thumbtack.com>
Build-Depends: debhelper (>= 9), libpq-dev (>= 9.4), libmicrohttpd-dev
Standards-Version: 3.9.8
Homepage: https://github.com/thumbtack/pgdoctor
Vcs-Git: https://github.com/thumbtack/pgdoctor.git

Package: pgdoctor
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, postgresql-9.4 | postgresql-9.6 | postgresql-10 | postgresql-11
Description: Custom health checks for PostgreSQL
 pgDoctor is a simple, lightweight, web service used to define and run custom
 health checks on PostgreSQL instances.
